*{

  box-sizing: border-box;

 }

 body {

  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
  text-align: center;

 }

 #bookAdd {

  margin: auto;
  columns: auto;
  width: 310px;
  background-color: white;

 }

 .bookState {

  margin-right: 5px;
  margin-bottom: 10px;
  padding: 0 auto;


 }

 #btnBookAdd{

  width: 310px;
  margin-bottom: 10px;

 }

 .btnState {

  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin-left: 482px;
  width: 100px;

 }



